<!DOCTYPE html>
<html lang="fa" dir='rtl' style='font-family: Vazir;'>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>گذرواژه جدید ایجاد شد</title>
</head>
<body>
  <section class="content">
    <div class="container-fluid">
      
<div class="card card-success">
<div class="card-header">
  <h3 class="card-title mb-0 float-left">گذرواژه جدید ایجاد شد</h3>
</div>
<div class="card-body">
  <span>گذرواژه جدید ایجاد شد، اکنون می توانید با گذرواژه جدید به سایت وارد شوید</span>
  <br>
  <a style='font-weight: bold; color:gray;' href="{% url 'login' %}">ورود</a>
</div>
</div>  

    </div><!-- /.container-fluid -->
  </section>
</body>
</html>